# Likes Report Assignment
## Kyle O'Leary
## September 13th

1. The source of my personal Instagram data would be me. I technically created it because I clicked on posts on that fit my personal interests.
2. I think this data was created to show the user what they have been looking at or interested in. The data can serve purposes such as if what the user likes, comments on, and looks at and overall interacts with. Bascally getting information about the user.
3. This data could be reliable because it is what the personal user is interacting with over social media.
4. It could be unreliable because there could be some things going on with the users personal life but that may not be displayed on social media. Example, the users family member passes away and the user likes posts of cats to try and lighten their mood, if a random looked at the data and saw the user liked posts of cats, they would think the user is fine and happy in life but in reality they arent.

In [38]:
import json
import pandas as pd

In [39]:
path = "/Users/kyleoleary/Downloads/instagram-kyleoleary17-2024-08-29-vXK2KDdU/your_instagram_activity/likes/liked_posts.json"
with open(path) as j:
    like = json.load(j)

In [40]:
like.keys()

dict_keys(['likes_media_likes'])

In [41]:
type(like['likes_media_likes'])

list

In [42]:
like_df = pd.DataFrame(like['likes_media_likes'])
like_df.head()

             title                                   string_list_data
0  heidisdawghouse  [{'href': 'https://www.instagram.com/reel/C9vI...
1      vadedsteven  [{'href': 'https://www.instagram.com/reel/C-_X...
2       gt3rs.only  [{'href': 'https://www.instagram.com/p/C7lokEC...
3  gt3rs.community  [{'href': 'https://www.instagram.com/p/C7xEQ02...
4  currentlydawson  [{'href': 'https://www.instagram.com/reel/C8Hk...

In [43]:
like_df_tidy = like_df.drop(columns = ['string_list_data'])

In [44]:
like_df_tidy

                 title
0      heidisdawghouse
1          vadedsteven
2           gt3rs.only
3      gt3rs.community
4      currentlydawson
...                ...
14373      wildviideos
14374     alyssaoleary
14375      wildviideos
14376      wildviideos
14377      wildviideos

[14378 rows x 1 columns]

In [45]:
like_df.head(25)

                  title                                   string_list_data
0       heidisdawghouse  [{'href': 'https://www.instagram.com/reel/C9vI...
1           vadedsteven  [{'href': 'https://www.instagram.com/reel/C-_X...
2            gt3rs.only  [{'href': 'https://www.instagram.com/p/C7lokEC...
3       gt3rs.community  [{'href': 'https://www.instagram.com/p/C7xEQ02...
4       currentlydawson  [{'href': 'https://www.instagram.com/reel/C8Hk...
5               mansory  [{'href': 'https://www.instagram.com/reel/C9uX...
6   ascensionautomotive  [{'href': 'https://www.instagram.com/p/C8fg8CV...
7          jr__ranakazi  [{'href': 'https://www.instagram.com/reel/C-Hh...
8                  espn  [{'href': 'https://www.instagram.com/p/C_L5KSq...
9             vk.scales  [{'href': 'https://www.instagram.com/reel/C8hj...
10   theclevelandmenace  [{'href': 'https://www.instagram.com/p/C_OTyvk...
11            _vinoxixi  [{'href': 'https://www.instagram.com/reel/C89o...
12         boss_makhado  [{'href': 'https://www.instagram.com/reel/C8cY...
13         alyssaoleary  [{'href': 'https://www.instagram.com/p/C_Lsx9a...
14              mansory  [{'href': 'https://www.instagram.com/reel/C8o0...
15              mansory  [{'href': 'https://www.instagram.com/reel/C8wX...
16              mansory  [{'href': 'https://www.instagram.com/reel/C8t-...
17           tevaloss99  [{'href': 'https://www.instagram.com/reel/C-Nj...
18                 espn  [{'href': 'https://www.instagram.com/p/C_JJrBC...
19              tspeed_  [{'href': 'https://www.instagram.com/reel/C_GM...
20            aycars.ae  [{'href': 'https://www.instagram.com/reel/C-VB...
21  porschecentrewolves  [{'href': 'https://www.instagram.com/reel/C9wu...
22             mpoole25  [{'href': 'https://www.instagram.com/p/C_JBQ1q...
23         ccikentstate  [{'href': 'https://www.instagram.com/reel/C_JX...
24          al_memedose  [{'href': 'https://www.instagram.com/reel/C-6d...

In [46]:
like_df_tidy.groupby('title').count().sort_values('string_list_data', ascending = False)['title'].plot(kind = 'bar')

KeyError: 'string_list_data'

1. A hypothesis that could be tested with the data I have is that I only like instagram stories from people I am close with or a sports team that interests me. My theory is that there will be more liked stories from people I am close but there will be a sprinkle of sports teams. Statistically I know there will be less data here than there would be likes from posts because I see and interact with more posts than instagram stories.

In [28]:
import json
import pandas as pd

In [29]:
path = "/Users/kyleoleary/Downloads/instagram-kyleoleary17-2024-08-29-vXK2KDdU/your_instagram_activity/story_sticker_interactions/story_likes.json"
with open(path)as j:
    story = json.load(j)

In [30]:
story.keys()

dict_keys(['story_activities_story_likes'])

In [31]:
type(story['story_activities_story_likes'])

list

In [32]:
story_df = pd.DataFrame(story['story_activities_story_likes'])
story_df

                 title             string_list_data
0    gabriella.foreman  [{'timestamp': 1724597405}]
1      sophia.paratore  [{'timestamp': 1723956425}]
2          seandunlay_  [{'timestamp': 1723813424}]
3     hannahroberts_26  [{'timestamp': 1723254230}]
4   isaac_blankenship_  [{'timestamp': 1722051541}]
..                 ...                          ...
74         chaboimillz  [{'timestamp': 1652625456}]
75           jakemally  [{'timestamp': 1652621890}]
76          jjjonesmac  [{'timestamp': 1652587372}]
77        jon.elliott_  [{'timestamp': 1652586763}]
78       chriscapuozzo  [{'timestamp': 1651437117}]

[79 rows x 2 columns]

In [33]:
story_df.head(10)

                title             string_list_data
0   gabriella.foreman  [{'timestamp': 1724597405}]
1     sophia.paratore  [{'timestamp': 1723956425}]
2         seandunlay_  [{'timestamp': 1723813424}]
3    hannahroberts_26  [{'timestamp': 1723254230}]
4  isaac_blankenship_  [{'timestamp': 1722051541}]
5                cavs  [{'timestamp': 1720195265}]
6        meganpreis24  [{'timestamp': 1719756766}]
7           annarozic  [{'timestamp': 1719177789}]
8       bolinskiblake  [{'timestamp': 1719088085}]
9  theclevelandmenace  [{'timestamp': 1718704108}]

1. I think the data frame is pretty tidy, I could probably drop the string_list_data so it would only display the names of the users but other than that its tidy. I believe this was definitely used to test my hypothesis because like I said there would be less data of story likes than my post likes, which is true, there would be more liked stories from my close friends but also sprinkle in some sports teams, which is true in the data frame that is displayed.